{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    html {
        overflow-x: hidden;
    }
    
    .header {
    color: #37676E;
    }

    .header h1 {
        font-weight: bolder;
        padding-top: 50px;
        font-size: 90px;
        }

    .header span {
        color: #B91A00
    }

    .header h6 {
        font-size: 22px;
    }

    .btn-default{
        background-color: #37676E;
        color:#FFF;
    }

    .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {   
        background-color: #BF3939;
        color:#FFF;
    }

    .login-section{
        width: 450px;
        padding: 3% 0 0;
        margin: auto;
    }
    
    .login-form input{
        font-family: Arial; 
        outline: none;
        width: 100%;
        border: none;
        font-size: 14px;
        background:#f2f2f2;
        padding: 8px;
        margin: 12px;
    }

    .messages{
        font-size: 10px;
        text-align: center;
        color: #37676E;
    }



</style>

    {% if user.is_authenticated %}
        <section id="login" class="text-center section">
            <h3>Halo kamu sudah sign in :)))</h3>
            <p>Mau sign out?</p>
            <a href="{% url 'authentication:logout' %}">
                <button class="btn btn-primary active" id="logout">Logout</button>
            </a>
        </section>

    {% else %}
        <div class="col-12 header text-center">
            <h1>SIGN<span> IN</span></h1>
            <h6>Daftarkan akun baru ke website AADCor untuk mengakses fitur yang terkunci!</h6>
        </div>

<<<<<<< HEAD
        <section style = "height: 100vh;"> 
            <div class="login-section">
                <div class="login-form">
                    <form method="POST" action="">
                    {% csrf_token %} 
                    {{form.as_table}}  
                    <input type="submit" name = "create" value = "login">
                    </form>
                    <p style = text-align:center> Login <a href="{% url 'authentication:register' %}">Here</a> </p>
=======
        <div class="login-section">
            <div class="login-form">
                <form method="POST" action="">
                {% csrf_token %}
                {{form.as_table}}  
                <div class="col text-center">
                    <br>
                    <button type="submit" name ="create" class="btn btn-default text-center">Daftar</button>
>>>>>>> a56eaaa7a2edbc4605582c878259ceeebb9ecf63
                </div>
                </form>
                <br>
                <p style = text-align:center>Sudah punya akun? Login <a href="{% url 'authentication:login' %}">Disini</a> </p>
            </div>
        </div>

    {% endif %}
{% endblock %}