{% extends 'base.html' %} {% block content %}
<style>
  .btn-default{
    background-color: #37676E;
    color:#FFF;
    border-color: #2F3E48;
    }
  
    .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {   
    background-color: #BF3939;
    color:#FFF;
    border-color: #31347B;
    }


</style>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-8 card mb-4  mt-3 left top">
        <div class="card-body">
          {% if post.image %}
          <img src="{{ post.imageURL }}" style="width:500px; padding-bottom: 20px;">
          {% elif post.image is None %}
          <p>&nbsp;</p>
          {% endif %}
          <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
          <p class="text-muted">{{ post.author }} | {{ post.created_on }}</p>
          <p class="card-text ">{{ post.content | safe }}</p>
        </div>
      </div>
    </div>
    <h3 style="padding-bottom: 20px;">Komentar Terbaru</h3>
    {% for comment in comments %}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ comment.uname }}</h5>
          <p class="card-text">{{ comment.com }}</p>
        </div>
      </div>
      <p>&nbsp;</p>
    {% endfor %}
    {% if user.is_authenticated %}
      <form action='' method="POST">
        {% csrf_token %}
        {{ input_form.as_p }}
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    {% else %}
      <p>Log in dulu yuk untuk memberi komentarmu!</p>
    {% endif %}
  </div>
  {% endblock content %}
</body>
