{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    
    .btn{
    border-radius: 20px;
    background-color:#37676E;
    font-size: 17px;
    font-family: 'Varela Round', sans-serif; 
    font-weight: 600;
    border-color: #37676E;
    color: white;
}
</style>

{% if user.is_authenticated %}
    <section style="height: 700px;">
    <div class="container h-100" style="height: 100px;">
        <div class="row h-100 justify-content-center align-items-center">
            <h1>Terima kasih cerita {{ user }} sudah kami terima. Semoga {{user }} sehat selalu.</h1>
            <button class="btn active" type="button" id="GetFile">Get File!</button>
        </div>
    </div>
    </section>

{% else %}
    <section style="height: 700px;">
    <div class="container h-100" style="height: 100px;">
        <div class="row h-100 justify-content-center align-items-center">
            <h1>Terima kasih cerita Anda sudah kami terima</h1>
            <button class="btn active" type="button" id="GetFile">Get File!</button>

        </div>
    </div>
    </section>


{% endif %}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript"src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript">

$('#GetFile').on('click', function () {
    $.ajax({
        url: 'https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/prevention-H.pdf',
        method: 'GET',
        xhrFields: {
            responseType: 'blob'
        },
        success: function (data) {
            var a = document.createElement('a');
            var url = window.URL.createObjectURL(data);
            a.href = url;
            a.download = 'PreventCorona101.pdf';
            document.body.append(a);
            a.click();
            a.remove();
            window.URL.revokeObjectURL(url);
        }
    });
    });
</script>
{% endblock %} 