{% extends 'base.html' %}
{% load static %}


{% block content %}
<style>


html {
    overflow-x: hidden;
}

#title { 
    margin-top: 20vh;
    margin-bottom: 10vh;
}

#title h3 {
    font-size: 3em;
    font-weight: bold;
    color: #BF3939;
}

.card{
  background-color:#37676E;
  border-radius: 20px;
}

table, th, td {
  background-color: #37676E;
  color:white;
}

.form-control {
    border-radius: 20px;
}

.btn{
    border-radius: 20px;
    background-color:#37676E;
    font-size: 17px;
    font-family: 'Varela Round', sans-serif; 
    font-weight: 600;
    border-color: #37676E;
    color: white;
}
input:active{
    background:#BF3939;
    border-color: #BF3939;
}

</style>

<section id="title" class="text-center section">
  <h3>Data Kasus Covid-19 per Provinsi di Indonesia</h3>
</section>

<section id="form" class="text-center container">
  <div style="margin:4vw;">
      <div class="form-inline justify-content-center ">
          <input id="search" class="form-control form-control-sm ml-3 w-75" type="text" aria-label="Search" style="padding:1.5vw">
      </div>
  </div>

</section>


<section id="catalogue-section" class="text-center container">
    <div class="card shadow mb-5" style="margin:5vw;">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table" id="dataTable" width="100%" cellspacing="0">
                <tr>
                  <th>No</th>
                  <th>Provinsi</th>
                  <th>Kasus Positif</th>
                  <th>Kasus Sembuh</th>
                  <th>Kasus Meninggal</th>
                </tr>
                <tbody id = 'result'>

                </tbody>
            </table>
          </div>
        </div>
    </div>
    </div>
    
</section>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript"src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="{% static 'js/info.js' %}"></script>

{% endblock %}

