{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    .col-12 {
        padding-top: 200px;
        color: white;
    }
    h1 {
        font-weight: bolder;
        font-size: 90px;   
    }
    .card {
        background-color: #37676eb8;
        border-radius: 20px;
        border: none;
        width: 55%;
    }
</style>
<div class="col-12">
    <div class="card p-5 mx-auto">
        <img src="{% static 'images/kecil.svg' %}" alt="logo">
        <h1 class="mx-auto">Terima <span style="color: #B91A00;">Kasih!</span></h1>
        <h4 class="mr-auto ml-auto">Pesanan Anda sedang kami proses. #StaySafe!</h4>
    </div>
</div>
{% endblock content %}