{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    .header {
        color: #37676E;
        padding-top: 90px;
    }
    .header h1 {
        font-weight: bolder;
        font-size: 90px;}
    .header span {
        color: #B91A00
    }
    .header h6 {
        font-size: 22px;
    }
    .harga {
        font-size: 17px;
        padding-top: 5px;
    }
    .btn {
        background-color: #37676E;
        color: white;
    }
    .btn:hover {
        background-color: white;
        color: #37676E;
        border-color: #37676E;
    }
    .cart img {
        margin-top: 123px;
        margin-right: 30px;
        width: 6%;
        float: right; 
    }
    .card {
        border-color: #37676E;
        border-width: 2px;
        border-radius: 10px;
    }
    .header p {
        margin-bottom: -0.5rem;
        color: #B91A00;
    }
    .cart {
        padding-right: 27px;
    }
    #search {
    width: 45px;
    background-color:#37676E;
    border-color: #37676E;
    text-align: center;
    border: none;
    color: white;
    }
    #search:hover {
        color:#37676E;
        background-color: transparent;
    }

</style>

<div class="container">
    <div class="row header">
        <div class="col-6">
            <h1>PRO<span>DUK</span></h1>
            <h6>yang kamu butuhkan untuk menjalani #NewNormal</h6>
        </div>
        <div class="col-6 text-right justify-content-right pt-5">
            <p><strong class="p-1" style="background-color: #B91A00; color: white; border-radius: 50%;">{{cartitems}}</strong></p>
            <a class="cart" href="{% url 'produk:cart' %}"><i class="fas fa-shopping-cart fa-2x" style="color: #37676E;"></i></a>
            <div class="d-flex justify-content-center mt-3">
                <input class= "form-control" id="keyword" placeholder="Produk yang kamu cari...">
                <button type="button" id="search" class="form-control ml-3"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </div>
    <div class="row align-item-center mb-5">
        {% for product in produk %}
        <div class="col-lg-4 col-md-12 col-sm-12 mt-5">
            <div class="card p-2" style="width: 21rem; height: max-content;">
                <img src="{{ product.imageURL }}" class="card-img-top p-4" alt="{{product.name}}">
                <div class="card-body">
                  <h5 class="card-title">{{ product.name }}</h5>
                  <p class="card-text">{{ product.desc }}</p>
                  <button data-product={{product.id}} data-action="add" class="btn add-btn update-cart">Masukkan Keranjang</button>
                  <h5 class="pt-2 float-right harga">Rp{{ product.price|floatformat:3 }}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}

