.nav-item a{
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
}

.nav {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }

body{
  overflow: scroll;
}

.bg-primary {
  background-color: #40e0d0;
  text-align: justify;
} 