{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
.form-rounded {
    border-radius: 20px;
}
.btn{
    border-radius: 20px;
}

h3{
    font-size: 60px;
    font-family: Arial;
    font-weight: bold;
    color: #37676E;
}
</style>
<div class="container h-100" style="height: 250px;">
    <div class="row h-100 justify-content-center align-items-center">
        <form class="col-12" method="POST" style="margin-top: 150px;">
            {% csrf_token %}
            <h3>Boleh Berikan </br> Pesanmu ?</h3> </br>
            {% if user.is_authenticated %}
                <p>Tuliskan Nama Anda:</p>
                <input type="text" name="nama" id="nama" class="form-control" placeholder="Enter Your Name..."><br>
                <p>Tuliskan Pesan Anda:</p>
                <textarea name="pesan" id="pesan" class="form-control" cols="30" rows="10" placeholder="Put Your Message Here..."></textarea><br>
                <p>Word You Had Press or Input: <h5>0</h5></p>
                <input type="submit" value="Submit" class="btn btn-lg" style='color: white; background-color: #37676E;'></input>
            {% else %}
                <p>Log In dulu yuk untuk memberikan pesan</p>
            {% endif %}
        </form>   
    </div>
</div>

<script>
    i = 0;
    $(document).ready(function(){
        $("textarea").keypress(function(){
            $("h5").text(i += 1);
        });
    });
</script>

{% endblock %} 