{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
.form-rounded {
    border-radius: 20px;
}
.header span {
    color: #B91A00
}
.btn{
    border-radius: 20px;
}
.header {
    color: #37676E;
}
.header h1{
    font-size:120px;
}
h3{
    font-size: 60px;
    font-family: Arial;
    font-weight: bold;
    color: #37676E;
}
p{
    font-size:18px;
}
.btn-default{
    background-color: #37676E;
    color:#FFF;
    border-color: #2F3E48;
    }
  
    .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {   
    background-color: #BF3939;
    color:#FFF;
    border-color: #31347B;
    }
    #myBtn {
        display: none; /* Hidden by default */
        position: fixed; /* Fixed/sticky position */
        bottom: 20px; /* Place the button at the bottom of the page */
        right: 30px; /* Place the button 30px from the right */
        z-index: 99; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove outline */
        background-color: red; /* Set a background color */
        color: white; /* Text color */
        cursor: pointer; /* Add a mouse pointer on hover */
        padding: 15px; /* Some padding */
        border-radius: 10px; /* Rounded corners */
        font-size: 18px; /* Increase font size */
      }
      
      #myBtn:hover {
        background-color: #555; /* Add a dark-grey background on hover */
      }

</style>
<table class="table">
    <tbody>
        <div class="col-12 header" style="margin-left: 100px;">
            <h1>PE<span>SAN</span></h1>
            <h5>&nbsp;Yang Telah Diberikan Oleh Pengunjung!</h5>
        </div>
        <p>&nbsp;</p>
        {% for tabel in inp %}
            <div class="card" style="width: 70rem; margin-left: 100px;">
                <div class="card-body">
                        <p class="card-title"style="color: #37676E"><b>{{tabel.nama}}</b></p>
                        <p class="card-text" style="color: #37676E">Pesan:{{tabel.pesan}}</p>
                </div>
            </div>
        {% endfor %}
        <br>
        <a href="/datas/"><button type="button" class="btn btn-default btn-lg" style="margin-left:570px;">Kirim Pesanmu!</button></a>
        <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    </tbody>
</table>
<script>
    mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0; // For Safari
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}
</script>
{% endblock %}